body {
    background-image: url(wrist-background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: background-change 50s infinite;
    margin: 0; /* Reset default margin */
    padding-top: 10px; /* Add padding to create space for fixed header */
}
#home{
    padding-top: 300px;
    font-size: large;
    color: #ddd;
}
main {
    max-width: 800px;
    margin: 150px auto 20px; /* Adjusted margin to increase space between header and main */
    padding: 20px;
}

@keyframes background-change {
    0% { background-image: url(dashboard1.jpg); }
    25% { background-image: url(dashboard2.JPG); }
    50% { background-image: url(dashboard3.jpg); }
    75% { background-image: url(dashboard4.jpg); }
    100% { background-image: url(dashboard1.jpg); } /* Return to first image */
}


header {
    position: fixed;
    width: 96%;
    background-color: rgba(0, 51, 102, 0.8);
    color: #fff;
    padding: 4px;
    margin-top: 0px;
    margin-left: 20px;
    border-bottom: 3px solid #f4f2f8; 
    border-radius: 25px;
    z-index: 1000;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 0px;
    margin-left: 20px;
    vertical-align: middle;
}

h1 {
    margin: 0; /* Remove default margin */
    color: #f9f9fb;
    font-size: 32px;
    display: inline; /* Display the h1 element inline */
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    display: inline; /* Display the navigation inline */
}

nav li {
    display: inline;
    margin-right: 10px;
    
}

nav a {
    color: #f1f0f0;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: .5s;
}

nav li a:hover {
    background-color: rgb(99, 216, 224);
    color: #0f043b;
    font-size: 16px;
}

.navDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 35px;
    color: rgb(224, 224, 40);
}
/* scroll bar */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    height: calc(100vh - 70px); /* Adjusted height to fit the viewport minus header height */
    overflow-y: auto; /* Add vertical scrollbar if content exceeds height */
    
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    nav ul {
        display: none;
    }
    nav ul.show {
        display: block;
    }
    nav li {
        display: block;
    }
}

nav ul.show li:hover {
    background-color: #ddd;
}

.intro {
    text-align: center;
}

#logout {
    color: white;
    margin-right: 40px;
    background-color: red;
    font-size: 20px;
    font-weight: bold; /* Add this line to make the text bold */
    padding: 5px 10px; /* Adjust padding to increase button size */
}
/* Add the following CSS to style the dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Add the following CSS to style the dropdown content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px; /* Adjust the width as needed */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    margin-right: 50px; /* Adjust the margin as needed */
}

/* Add styles for the left side of the dropdown content */
.dropdown-content-left {
    float: left;
    width: 60%; /* Adjust the width as needed */
    padding: 20px;
}

/* Add styles for the right side of the dropdown content */
.dropdown-content-right {
    float: right;
    width: 40%; /* Adjust the width as needed */
    padding: 20px;
}

/* Add styles for the image in the dropdown content */
.dropdown-content-right img {
    max-width: 100%;
    height: auto;
}


/* Add the following CSS to increase the size of the dropdown label */
.dropdown-content p {
    padding: 12px 16px;
    margin: 0;
    font-size: 18px; /* Adjust the font size as needed */
}


.dropdown:hover .dropdown-content {
    display: block;
}

