<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagnosis - Wrist Abnormality Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='diagnosis.css') }}">
</head>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='headerLogo.jpg') }}" alt="Logo" class="logo">
        <h1>Wrist Abnormality Detection</h1>
        <a href="{{ url_for('dashboard') }}"class="home-btn">Home</a>
    </header>
    <main>
        <h2>Upload Wrist (X-ray) Image for Diagnosis</h2>
        <div class="upload-section">
            <button id="upload-btn">Upload Image</button>
            <input type="file" id="file-input" accept="image/*">
        </div>
        <div class="preview-section" id="preview-container">
            <img src="#" alt="Preview" id="image-preview">
        </div>
        <button id="submit-btn">Submit for Diagnosis</button>
    </main>
    <	<script src="{{ url_for('static', filename='diagnosis.js') }}"></script>
</body>
</html>
